catboost>=1.2.3
category-encoders>=2.6.3
hyperopt>=0.2.7
lightgbm>=4.3.0
numpy>=1.26.4
pandas>=2.2.1
pyyaml==5.3
seaborn>=0.13.2
shap>=0.45.0
tabulate>=0.9.0
xgboost>=2.0.3
matplotlib>=3.8.4
matplotlib-inline>=0.1.6
scikit-learn>=1.4.1.post1
requests>=2.31.0
pytest==8.1.1
pytest-print==1.0.0
